body{
	background-image: linear-gradient(to right bottom, #343537, #555658, #78797c, #9c9fa1, #c3c6c8);
	}
  
#taskFlex {
	display: flex;
    justify-content: flex-end;
}
  
.flex-container {
    text-align: center;
    position: static;
}

.tasks {
  	margin: 0 0 0  0;
}

a:hover {
  	color: darkblue;
}

.month {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-self: center;
}

#taskList {
    padding: 5px 20px;
}


#taskList < form < h2 {
    display: inline-block;
    border: 1px rgba(229, 71, 60, 0.5);
    width: 20%;
    margin: 0;
}

.calendarDiv {
	display: inline-block;
	width: 13%;
	margin: 0;
	padding: 0px 0 0 0;
	border: 1px solid gray;
	background-color: black;
    opacity: 0.5;
    height: 90.87px;

}

.eventTag {
	position: absolute;
}

.calendarDiv:hover {
    background-color: rgb(138, 255, 61, 0.87);
}

a {
    color: red;
    text-decoration: none;
}

.event {
	display: inline-block;
	margin: 0 0 0 5%;
	padding: 0;
	border: 1px solid black;
	background-color: red;
	border-radius: 10%;
	width: 11vw;
}

.dayName {
	padding: 5px 0 20px 0;
	text-align: center;
	background-color: lightgray;
	height: 15px;
}

.logoutTab {
    text-align: right;
}

h4{
	margin: 5px 0 0 5%;
}

small {
	margin: 2px 0 0 5%;
}

h3, h2, h1{
	text-align: center;
}


#container {
	margin: 0 auto;
	padding: 0 0 0 5%;

}




