<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user/">User Home Page</a></li>
    </ul>
  </header>
</body>
</html>