<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
</head>
<body>
  <header>
    <h1>Welcome to Eaze Calendar</h1>
  </header>
  <main>
    <h4>Login</h4>
    <% if(message) {%>
      <small><%=message%></small><br>
    <% } %>
    <br>
    <form method="POST" action="/auth/login">
      <input type="text" placeholder="username" name="username"><br/>
      <input type="password" placeholder="password" name="password"><br/>
      <button>Submit</button><br/>
    </form>

    <h1>Register</h1>
    <form method="POST" action="/auth/register">
      Username: <input type="text" placeholder="username" name="username"><br/>
      Password: <input type="password" placeholder="password" name="password" id='pass'><br/>
      Confirm Password: <input type="password" placeholder="password" name="checkPassword" id='checkpass'></input><br/>
      <button id='newUserButton'>Submit</button>
    </form>
  </main>


  <script type="text/javascript" src='/js/app.js'></script>
</body>
</html>