<!DOCTYPE html>
<html>
<head>
	<title><%=user.name%>'s Calendars</title>	
	<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/new.css">
</head>
<body>


	<main>
		<hr>
		<% for (let i = 0; i < user.calendars.length; i++) { -%>

		<div>
			<form method='POST' action='/calendar/<%=user.calendars[i].id%>?_method=PUT'>
			<h4>Calendar Name: </h4>
			<input type="text" name="name" value="<%=user.calendars[i].name%>"><br>
			<h4>Calendar Color: </h4>
			<input type="color" name="color" value='<%=user.calendars[i].color%>'><br><br>
			<button>Save Changes</button>
			</form>

		</div>
		<hr>
			
		<% } -%>
		<br><br>
		<form action='/user'>
			<button>Cancel</button>
		</form>
	</main>


</body>
</html>