<!DOCTYPE html>
<html>
<head>
	<title>New Calendar</title>
</head>
<body>
	<header>
		<nav>
			<a href="/users">Cancel</a>
		</nav>
	</header>

	<main>
		<form method='POST' action='/calendar/'>
			<h4>Enter Calendar Name:</h4>
			<input type="text" name="name" placeholder="Calendar Name"><br>
			<h4>Please Pick a Calendar Color:</h4>
			<input type="color" name="color" value='#0000FF'>
			<br><br>
			<button>Save</button>

		</form>
	</main>

</body>
</html>