<!DOCTYPE html>
<html>
<head>
	<title>New Calendar</title>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/new.css">
</head>
<body>
	<header>
<!-- 		<nav>
			<a href="/user">Cancel</a>
		</nav> -->
	</header>

	<main>
		<hr>
		<form method='POST' action='/calendar/'>
			<h4>Enter Calendar Name:</h4>
			<input type="text" name="name" placeholder="Calendar Name" required><br><br>
			<small>Pick Calendar Color:</small><br>
			<input type="color" name="color" value='#0000FF'>
			<br><br><hr>
			<button>Submit</button>

		</form>
		<form action='/user'>
			<button>Cancel</button>
		</form>
	</main>

</body>
</html>