<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>
  <nav>
    <li><a href="/user">Cancel</a></li>
  </nav>
</header>
<main>
  <h2>Archived Tasks</h2><br/>
  
</main>
</body>
</html>